* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "UISystem";

main {
  display: flex;
}
section {
  &:not(:first-of-type) {
    margin-top: 200px;
  }
}
.hero {
  display: flex;
  height: 100%;
  flex: 0 0 50%;
  article {
    overflow: hidden;
    flex: 0 0 100%;
    position: relative;
    video {
      position: absolute;
      left: -70%;
      height: 100%;
    }
    div {
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0;
      background: linear-gradient(
        260deg,
        hsla(0, 0%, 0%, 1) 15%,
        rgba(red, 0.6) 90%
      );
    }
  }
}
header {
  z-index: 1;
  position: absolute;
  top: 0;
}
nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  row-gap: $s;
  padding: {
    top: $m;
    right: $h;
  }
  img {
    width: 50%;
    z-index: 1;
  }
  ul {
    list-style-type: none;
    display: flex;
    column-gap: $s;
    li {
      a {
        transition: all 0.3s;
        color: white;
        text-decoration: none;
        &:hover {
          color: $red500;
        }
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding: $s;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  article {
    &:first-of-type {
      ul {
        list-style-type: none;
        display: inline-flex;
        flex-flow: row nowrap;
        column-gap: $xxs;
        li {
          a {
            transition: all 0.3s;
            color: black;
            display: block;
            padding: $xxs;
            height: 30px;
            border-radius: 100%;
            aspect-ratio: 1;
            &:hover {
              background-color: black;
              color: white;
              transform: translateY(-$xxs);
            }
          }
          //   &:not(:last-of-type) {
          //     flex: 0 0 100%;
          //     a {
          //       all: unset;
          //       cursor: pointer;
          //       font: {
          //         size: $xs;
          //       }
          //       color: white;
          //     }
          //   }
        }
      }
    }
    &:last-of-type {
      display: flex;
      flex-flow: column nowrap;
      column-gap: $m;
      padding-left: $xs;
      a {
        transition: all 0.3s;
        color: rgba(white, 0.5);
        text-decoration: none;
        font: {
          size: $xs;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
}

h2 {
  font: {
    size: $h;
  }
  margin-bottom: $l;
}

.tours {
  padding-bottom: $xh;
  width: 100%;

  article {
    overflow: hidden;
    &:last-of-type {
      height: 90%;
      overflow: scroll;
      table {
        border-collapse: collapse;

        thead {
          display: none;
        }
        tbody {
          display: flex;
          flex-flow: column nowrap;

          tr {
            transition: all 0.3s;
            display: flex;
            cursor: pointer;
            align-items: center;

            border-radius: $xxs;
            &:hover {
              background-color: rgba(white, 0.1);
              color: $red500;
            }

            td {
              width: 20ch;
              padding: $s;
            }
          }
        }
      }
    }
  }
}

.music {
  padding-right: $h;
  width: 100%;
  display: flex;
  article {
    flex: 0 0 100%;
  }
}

.merch {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  article {
    &:last-of-type {
      overflow-y: scroll;
      display: inherit;
      flex-flow: row wrap;
      row-gap: $m;
      column-gap: $m;
      align-items: stretch;
      padding-bottom: $xh;

      a {
        display: block;
        text: {
          decoration: none;
          align: center;
        }
        flex: 0 0 30%;

        div {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: space-between;
          border-radius: $xxs;
          border: 2px solid rgba(white, 0.2);
          padding: $s;
          height: 300px;

          &:hover {
            transition: all 0.3s;
            background-color: rgba(white, 0.9);
            color: black;
            cursor: pointer;

            img {
              transition: all 0.3s;
              filter: drop-shadow(0 0 0.75rem rgba(black, 0.3));
              transform: scale(1.3) rotate(5deg);
            }
            
          }

          color: white;

          img {
            width: 150px;
          }
          p {
            display: inline-flex;
            justify-content: flex-end;

            padding: $xxs;
            
            font: {
              size: $xs;
            }

            &:first-of-type {
              align-self: flex-end;
              border: 2px dashed black;
            }
            
          }
        }
      }
    }
  }
}
