* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fon Families*/
@font-face {
  font-family: "Mono Medium";
  src: url("../fonts/DMMono-Medium.ttf");
}
/* colours */
/* Font Sizes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  font-family: "Mono Medium";
}

#root {
  height: 100%;
  position: relative;
}

body {
  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
}

main {
  display: flex;
}

section:not(:first-of-type) {
  margin-top: 200px;
}

.hero {
  display: flex;
  height: 100%;
  flex: 0 0 50%;
}
.hero article {
  overflow: hidden;
  flex: 0 0 100%;
  position: relative;
}
.hero article video {
  position: absolute;
  left: -70%;
  height: 100%;
}
.hero article div {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  background: linear-gradient(260deg, hsl(0, 0%, 0%) 15%, rgba(255, 0, 0, 0.6) 90%);
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  row-gap: 14px;
  padding-top: 16px;
  padding-right: 48px;
}
nav img {
  width: 50%;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  display: flex;
  column-gap: 14px;
}
nav ul li a {
  transition: all 0.3s;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(255, 166, 166);
}

footer {
  position: absolute;
  bottom: 0;
  padding: 14px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
footer article:first-of-type ul {
  list-style-type: none;
  display: inline-flex;
  flex-flow: row nowrap;
  column-gap: 7px;
}
footer article:first-of-type ul li a {
  transition: all 0.3s;
  color: black;
  display: block;
  padding: 7px;
  height: 30px;
  border-radius: 100%;
  aspect-ratio: 1;
}
footer article:first-of-type ul li a:hover {
  background-color: black;
  color: white;
  transform: translateY(-7px);
}
footer article:last-of-type {
  display: flex;
  flex-flow: column nowrap;
  column-gap: 16px;
  padding-left: 12px;
}
footer article:last-of-type a {
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 12px;
}
footer article:last-of-type a:hover {
  color: white;
}

h2 {
  font-size: 48px;
  margin-bottom: 18px;
}

.tours {
  padding-bottom: 60px;
  width: 100%;
}
.tours article {
  overflow: hidden;
}
.tours article:last-of-type {
  height: 90%;
  overflow: scroll;
}
.tours article:last-of-type table {
  border-collapse: collapse;
}
.tours article:last-of-type table thead {
  display: none;
}
.tours article:last-of-type table tbody {
  display: flex;
  flex-flow: column nowrap;
}
.tours article:last-of-type table tbody tr {
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 7px;
}
.tours article:last-of-type table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(255, 166, 166);
}
.tours article:last-of-type table tbody tr td {
  width: 20ch;
  padding: 14px;
}

.music {
  padding-right: 48px;
  width: 100%;
  display: flex;
}
.music article {
  flex: 0 0 100%;
}

.merch {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.merch article:last-of-type {
  overflow-y: scroll;
  display: inherit;
  flex-flow: row wrap;
  row-gap: 16px;
  column-gap: 16px;
  align-items: stretch;
}
.merch article:last-of-type a {
  text-decoration: none;
  text-align: center;
}
.merch article:last-of-type a div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 18px;
  border-radius: 7px;
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  flex: 0 0 30%;
  padding: 14px;
  color: white;
}
.merch article:last-of-type a div:hover {
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  color: black;
  cursor: pointer;
}
.merch article:last-of-type a div:hover img {
  transition: all 0.3s;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
  transform: scale(1.3);
}
.merch article:last-of-type a div img {
  width: 150px;
}
.merch article:last-of-type a div p {
  display: inline-flex;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 7px;
  border: 2px dashed black;
  font-size: 12px;
}

/*# sourceMappingURL=App.css.map */
