* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Fon Families*/
@font-face {
  font-family: "Mono Medium";
  src: url("../fonts/DMMono-Medium.ttf");
}
/* colours */
/* Font Sizes */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  font-family: "Mono Medium";
}

#root {
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  background-color: black;
  color: white;
  width: 100dvw;
  height: 100dvh;
}

main {
  height: 100%;
}

main {
  display: flex;
}

section:not(:first-of-type) {
  margin-top: 120px;
}

.hero {
  display: flex;
  height: 100%;
  flex: 0 0 50%;
}
.hero article {
  overflow: hidden;
  flex: 0 0 100%;
  position: relative;
}
.hero article video {
  position: absolute;
  left: -70%;
  height: 100%;
}
.hero article div {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  background: linear-gradient(260deg, hsl(0, 0%, 0%) 15%, rgba(255, 0, 0, 0.6) 90%);
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  row-gap: 14px;
  padding-top: 16px;
  padding-right: 48px;
}
nav img {
  width: 30%;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  display: flex;
  column-gap: 14px;
}
nav ul li a {
  transition: all 0.3s;
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: rgb(255, 166, 166);
}

footer {
  position: absolute;
  bottom: 0;
  padding: 14px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
footer article:first-of-type ul {
  list-style-type: none;
  display: inline-flex;
  flex-flow: row nowrap;
  column-gap: 7px;
}
footer article:first-of-type ul li a {
  transition: all 0.3s;
  color: black;
  display: block;
  padding: 7px;
  height: 30px;
  border-radius: 100%;
  aspect-ratio: 1;
}
footer article:first-of-type ul li a:hover {
  background-color: black;
  color: white;
  transform: translateY(-7px);
}
footer article:last-of-type {
  display: flex;
  flex-flow: column nowrap;
  column-gap: 16px;
  padding-left: 12px;
}
footer article:last-of-type a {
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 12px;
}
footer article:last-of-type a:hover {
  color: white;
}

h2 {
  font-size: 48px;
  margin-bottom: 18px;
}

.tours {
  padding-bottom: 60px;
  width: 100%;
}
.tours article {
  overflow: hidden;
}
.tours article:last-of-type {
  height: 90%;
  overflow: scroll;
}
.tours article:last-of-type table {
  border-collapse: collapse;
}
.tours article:last-of-type table thead {
  display: none;
}
.tours article:last-of-type table tbody {
  display: flex;
  flex-flow: column nowrap;
}
.tours article:last-of-type table tbody tr {
  transition: all 0.3s;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-radius: 7px;
}
.tours article:last-of-type table tbody tr:hover {
  background-color: white;
  color: black;
}
.tours article:last-of-type table tbody tr td {
  width: 20ch;
  padding: 14px;
}

.music {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow-y: scroll;
}
.music article {
  padding: 0 60px 60px 0;
}
.music article:first-of-type {
  align-self: flex-end;
  display: inherit;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 16px;
  column-gap: 16px;
}
.music article:first-of-type h2 {
  flex: 0 0 100%;
}
.music article:first-of-type div {
  transition: all 0.3s;
  flex: 0 0 22%;
  position: relative;
  cursor: pointer;
}
.music article:first-of-type div:hover {
  transform: scale(1.2);
}
.music article:first-of-type div:hover img {
  filter: brightness(0.3);
  border: 2px solid white;
}
.music article:first-of-type div:hover p {
  visibility: visible;
}
.music article:first-of-type div img {
  width: 100%;
  border-radius: 7px;
}
.music article:first-of-type div p {
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  visibility: hidden;
  font-size: 18px;
}
.music article:last-of-type iframe {
  width: 100%;
  height: 750px;
  border: none;
}

.merch {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}
.merch article:last-of-type {
  overflow-y: scroll;
  display: inherit;
  flex-flow: row wrap;
  row-gap: 16px;
  column-gap: 16px;
  align-items: stretch;
  padding-bottom: 60px;
}
.merch article:last-of-type a {
  display: block;
  text-decoration: none;
  text-align: center;
  flex: 0 0 30%;
}
.merch article:last-of-type a div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 14px;
  height: 300px;
  color: white;
}
.merch article:last-of-type a div:hover {
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  cursor: pointer;
}
.merch article:last-of-type a div:hover img {
  transition: all 0.3s;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
  transform: scale(1.3) rotate(5deg);
}
.merch article:last-of-type a div img {
  width: 150px;
}
.merch article:last-of-type a div p {
  display: inline-flex;
  justify-content: flex-end;
  padding: 7px;
  font-size: 12px;
}
.merch article:last-of-type a div p:first-of-type {
  align-self: flex-end;
  border: 2px dashed black;
}

.gallery {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
}
.gallery article {
  display: flex;
}
.gallery article:last-of-type {
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.gallery article:last-of-type div {
  flex: 0 0 25%;
}
.gallery article:last-of-type div:nth-last-of-type(1) {
  animation: scrollImage 20s linear 1s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(2) {
  animation: scrollImage 20s linear 2s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(3) {
  animation: scrollImage 20s linear 3s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(4) {
  animation: scrollImage 20s linear 4s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(5) {
  animation: scrollImage 20s linear 5s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(6) {
  animation: scrollImage 20s linear 6s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(7) {
  animation: scrollImage 20s linear 7s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(8) {
  animation: scrollImage 20s linear 8s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(9) {
  animation: scrollImage 20s linear 9s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(10) {
  animation: scrollImage 20s linear 10s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(11) {
  animation: scrollImage 20s linear 11s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(12) {
  animation: scrollImage 20s linear 12s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(13) {
  animation: scrollImage 20s linear 13s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(14) {
  animation: scrollImage 20s linear 14s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(15) {
  animation: scrollImage 20s linear 15s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(16) {
  animation: scrollImage 20s linear 16s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(17) {
  animation: scrollImage 20s linear 17s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(18) {
  animation: scrollImage 20s linear 18s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(19) {
  animation: scrollImage 20s linear 19s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(20) {
  animation: scrollImage 20s linear 20s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(21) {
  animation: scrollImage 20s linear 21s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(22) {
  animation: scrollImage 20s linear 22s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(23) {
  animation: scrollImage 20s linear 23s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(24) {
  animation: scrollImage 20s linear 24s infinite forwards;
}
.gallery article:last-of-type div:nth-last-of-type(25) {
  animation: scrollImage 20s linear 25s infinite forwards;
}
.gallery article:last-of-type div img {
  width: 100%;
  border-radius: 7px;
}

.about {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}
.about article:first-of-type {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  overflow-y: scroll;
  row-gap: 16px;
  padding: 60px;
}
.about article:first-of-type p {
  max-width: 55ch;
  text-align: justify;
}
.about article:first-of-type h2 {
  display: inline-flex;
  flex-flow: column nowrap;
  font-size: 30px;
  row-gap: 0;
}
.about article:first-of-type h2 span {
  color: rgb(255, 166, 166);
  text-transform: uppercase;
  font-size: 60px;
  margin-top: -12px;
}
.about article:last-of-type img {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 100%;
  opacity: 0.3;
  filter: drop-shadow(60px -48px 48px rgba(255, 255, 255, 0.6));
  z-index: 0;
}

.active {
  color: rgb(255, 166, 166);
}

@keyframes scrollImage {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(200%);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hero {
    flex: 0 0 45%;
  }
  .tours {
    position: relative;
  }
  .tours article:last-of-type table {
    position: absolute;
    right: 10%;
  }
  .merch article {
    justify-content: center;
  }
  .music article {
    padding-right: 14px;
  }
  .about article:first-of-type p {
    max-width: 35ch;
  }
}
@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  main {
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
  }
  .hero {
    flex: 0 0 30%;
  }
  .hero article video {
    left: 0;
  }
  .hero article div {
    background: linear-gradient(180deg, hsl(0, 0%, 0%) 1%, rgba(255, 0, 0, 0.6) 99%);
  }
  .tours {
    overflow-y: hidden;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0;
  }
  .tours article:last-of-type table tbody {
    row-gap: 16px;
    width: 90vw;
  }
  .tours article:last-of-type table tbody tr {
    flex-flow: row wrap;
    padding: 14px;
  }
  .tours article:last-of-type table tbody tr td {
    padding: 0;
    width: 50ch;
  }
  .tours article:last-of-type table tbody tr td:first-of-type {
    flex: 0 0 100%;
    color: rgb(255, 166, 166);
  }
  .merch {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 0;
  }
  .merch article:last-of-type {
    flex: 0 0 100%;
    flex-flow: row nowrap;
    padding-bottom: 0;
    height: 250px;
    overflow-y: visible;
    overflow-x: scroll;
  }
  .merch article:last-of-type div {
    background-color: white;
  }
  .merch article:last-of-type div p {
    color: black;
  }
  .merch article:last-of-type div img {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.3));
    transform: scale(1.2) rotate(5deg);
  }
  .music {
    display: none;
  }
  .about {
    display: none;
  }
  .gallery {
    display: none;
  }
  nav {
    padding-right: 0;
    align-items: center;
  }
  nav img {
    width: 100%;
  }
  footer {
    width: 100%;
    justify-content: center;
  }
  footer article {
    display: inherit;
    justify-content: center;
  }
  footer article:first-of-type ul li a:hover {
    transform: none;
    background-color: unset;
    color: black;
  }
  footer article:last-of-type a {
    text-align: center;
  }
  h2 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=App.css.map */
