/* Fon Families*/

@font-face {
  font-family: "Mono Medium";
  src: url("../fonts/DMMono-Medium.ttf");
}


/* colours */
$red500 : rgb(255, 166, 166);
$red900: rgb(232, 31, 31);

/* Font Sizes */
$xxs: 7px;
$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 20px;
$xxl: 24px;
$xxl: 30px;
$xxxl: 36px;
$h: 48px;
$xh: 60px;
$xxh: 72px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  font: {
    family: "Mono Medium";
  }
}

#root {
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  background-color: black;
  color: white;
  width: 100dvw;
  height: 100dvh;
}

main {
  height: 100%;
}
